* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-y: scroll;
  background-color: thistle;
}

.App {
  text-align: center;
}

.todo__row {
  margin: 1px;
}

.todos__td {
  padding: 2px;
  background-color: rgb(170, 200, 240);
}

.todos__td:hover,
.todos__th:hover {
  cursor: pointer;
  background-color: rgb(144, 188, 241);
}

.todos__th {
  background-color: rgb(118, 159, 209);
}

.App {
  display: flex;
  justify-content: center;
}

.loadDataButton {
  border: none;
  margin-top: 20px;
  height: 100px;
  width: 200px;
  font-size: 26px;
  color: aliceblue;
  border-radius: 3px;
  background-color: rgb(102, 167, 247);
  transition-duration: 0.1s;
}

.loadDataButton:hover {
  cursor: pointer;
  background-color: rgb(124, 180, 248);
  transition-duration: 0.1s;
  transform: rotate(-5deg);
}
